---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: 'freight-text-pro', sans-serif;
$base-font-size:   1.8em;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.9;
$text-color: rgba(46, 48, 58, 0.96);
$color-ateliware: #d10911;
$color-twitter: #55acee;
$color-github: #333333;
$content-width: 800px;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
      @content;
  }
}

@import "bootstrap";
@import "base";
@import "layout";
@import "syntax-highlighting";
