<section class="row about">
  <div class="col-md-2">
    <img class="about-image" src="https://pbs.twimg.com/profile_images/480746661715533826/i4WZGTgL.jpeg" alt="Peterson Santos">
  </div>
  <div class="col-md-10">
    <div class="about-content">
      <p>
        I work at <a class="ateliware" href="http://ateliware.com.br" target="_blank">ateliware</a>, a software boutique from Curitiba - Brazil, that helps startups and enterprise to deliver amazing products and solutions. I often share my thoughts on <a class="twitter" href="http://twitter.com/petersonfs" target="_blank">twitter</a>, write detailed <a class="blog" href="#" target="_blank">here</a> and share my code at <a class="github" href="http://github.com/petersonfs" target="_blank">github</a>.
      </p>
      <p>
        <a href="petersonferreiras@gmail.com" class="mail">Feel free to get in touch.</a>
      </p>
    </div>
  </div>
</section>
