<section class="row latest">
  <div class="col-md-12 .center-block latest-title">
    <h3>latest thoughts</h3>
  </div>
  <div class="col-md-4 latest-item">
    <div class="latest-item-content">
      <a href="#">Some importante title for the blog, its amazing, but i’d like a bigger title</a>
      <br />
      <a class="latest-item-continue" href="#">Continue reading...</a>
    </div>
  </div>

  <div class="col-md-4 latest-item">
    <div class="latest-item-content">
      <a href="#">Some importante title for the blog, its amazing, but i’d like a bigger title</a>
      <br />
      <a class="latest-item-continue" href="#">Continue reading...</a>
    </div>
  </div>

  <div class="col-md-4 latest-item">
    <div class="latest-item-content">
      <a href="#">Some importante title for the blog, its amazing, but i’d like a bigger title</a>
      <br />
      <a class="latest-item-continue" href="#">Continue reading...</a>
    </div>
  </div>
</section>
