<section class="row work">
  <div class="col-md-12 .center-block work-title">
    <h3>recent work</h3>
  </div>
  <div class="col-md-3 work-item">
    <div class="work-item-content minestore">
      <a href="#">minestore</a>
    </div>
  </div>

  <div class="col-md-3 work-item">
    <div class="work-item-content pipefy">
      <a href="#">pipefy</a>
    </div>
  </div>

  <div class="col-md-3 work-item">
    <div class="work-item-content uninter">
      <a href="#">uninter</a>
    </div>
  </div>

  <div class="col-md-3 work-item">
    <div class="work-item-content travelers">
      <a href="#">travelers</a>
    </div>
  </div>
</section>
