::-moz-selection {
    background: #ffffcc;
    text-shadow: none;
}

::selection {
    background: #ffffcc;
    text-shadow: none;
}

body {
  color: $text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-style: normal;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: 'ff-tisa-web-pro', serif;
  font-style: normal;
  font-weight: 700;
  color: $text-color;
}

a {
  color: $text-color;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  &:hover, &:focus {
    text-decoration: underline;
    color: $text-color;
  }
}

@include media-query($content-width) {
  .container {
    width: $content-width;
  }
}

hr {
  margin-top: 70px;
  margin-bottom: 70px;
}

code {
  font-family: Hack, Menlo, Meslo, Consolas, Monaco, "Andale Mono", monospace;
}

pre {
  font-style: Hack, Menlo, Meslo, Consolas, Monaco, "Andale Mono", monospace;
  background: rgb(244, 246, 248);
  color: black;
  border: none;
  direction: ltr;
  font-size: 0.75em;
  margin: 2em 0;
  overflow: auto;
  padding: 1.25em;
  text-align: left;
  text-shadow: 0 1px white;
  white-space: pre;
  width: 100%;
  word-spacing: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-tab-size: 4;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
