.center-block {
  float: none;
  margin: 0 auto;
}

.menu {
  font-family: 'PT Serif', serif;
  border-bottom: 1px solid #eeeeee;
  padding: 50px 0 50px;

  h1 {
    font-size: 30px;
  }

  @include media-query($content-width) {
    .title {
      float: left;
    }

    .items {
      float: right;
    }
  }

  .title {
    text-align: center;
  }

  .items {
    text-align: center;

    li {
      display: inline-block;

      a {
        color: rgba(0, 0, 0, 0.9);
        font-size: 18px;
      }

      a.active {
        text-decoration: underline;
      }

      a:hover {
        text-decoration: underline;
        background: #fff;
      }
    }
  }
}

.about {
  border-bottom: 1px solid #eeeeee;
  padding: 50px 0 50px;

  @media (max-width: 1024px) {
    .about-image {
      display: none;
    }

    .about-content {
      text-align: center;
    }
  }

  .about-image {
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin-top: 17px;
  }

  .about-content {
    a:hover.ateliware {
      color: $color-ateliware;
    }

    a:hover.twitter {
      color: $color-twitter;
    }

    a:hover.github {
      color: $color-github;
    }
  }
}

.work {
  border-bottom: 1px solid #eeeeee;
  padding: 50px 0 50px;

  .work-title {
    padding-bottom: 20px;
    text-align: center;
  }

  .work-item {
    padding: 5px;

    .work-item-content {
      height: 180px;
      padding: 20px;
    }

    .minestore {
      background: #D5276E;
    }

    .pipefy {
      background: #0282DE;
    }

    .uninter {
      background: #084072;
    }

    .travelers {
      background: #CC2D30;
    }
  }
}

.latest {
  border-bottom: 1px solid #eeeeee;
  padding: 50px 0 50px;

  .latest-title {
    padding-bottom: 20px;
    text-align: center;
  }

  .latest-item {
    padding: 5px;

    .latest-item-content {
      height: 150px;
      padding: 20px;
    }

    .latest-item-continue {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

.footer {
  font-family: 'PT Serif', serif;
  padding: 20px 5px 10px;
  font-size: 14px;

  .rss {
    float: left;
  }

  .copyright {
    float: right;
  }
}

.post {
  border-bottom: 1px solid #eeeeee;
  padding: 50px 0 50px;

  .post-header {
    margin-bottom: 30px;
    text-align: center;

    .post-meta {
      font-family: 'PT Serif', serif;
      font-size: 15px;

      a {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  .post-content {
    h2, h3, h4 {
      margin-top: 30px;
    }

    p + p {
      text-indent: 30px;
    }

    blockquote {
      padding: 10px 20px;
      margin: 0 0 20px;
      font-size: 1em;
      border-left: 5px solid #eeeeee;
    }

    em {
      background: #ffe;
    }
  }
}
